.service-card {
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.4s ease;
  cursor: pointer;
}

.service-card h3 {
  margin: 15px 0;
  font-size: 22px;
}

.service-card p {
  color: #555;
  font-size: 15px;
}
.service-image {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
  object-fit: contain;
}


/* Hover Animation */
.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.2);
}
